# Python System Files
__pycache__/
*.py[cod]
*~

# Virtual Environment
.venv/
venv/
env/

# Model AI
*.pt
*.pth
*.onnx

# env files (can opt-in for committing if needed)
.env*

# OS / Editor Files
.DS_Store
.vscode/